html, body, #root {
  height: 100%;
  margin: 0;
  padding:0
}
body{
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-size: 110%;
  font-style: normal;
  }
    /* table {
      font-family: "Shadows Into Light", system-ui;
      font-weight: 600;
      font-size: 150%;
      font-style: normal;
    } */

.full-page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}